html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
  transition: all 0.8s ease;
}

.welcome-header {
  margin: 50px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-header__title {
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 25px;
}

.welcome-header__text {
  width: 60%;
  opacity: 0.7;
  font-size: 30px;
}

.input:focus {
  outline: none;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
  scroll-behavior: smooth;
}

form input {
  border: none;
  padding: 15px 0px;
  font-size: 18px;
  margin-bottom: 15px;
}

form input {
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  transition: border-color 0.3s ease-in-out;
}

form input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

form input:focus {
  border-color: #efd8f7;
}

.btn {
  display: flex;
  justify-content: space-around;
}

.btn__add,
.btn__remove,
.btn__calc {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

p {
  font-weight: 600;
  color: white;
  text-align: center;
  font-size: 30px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s ease 5s;
}

.btn__refresh {
  display: block;
  margin: auto;
  margin-top: 40px;
  padding-block: 30px;
  padding-inline: 37px;
  border-radius: 5px;
  font: bold 1.25rem/1 poppins;
  color: #71dfbe;
  background-color: #383b3d;
  border: none;
  visibility: hidden;
  cursor: default;
  opacity: 0;
  transition-property: opacity, cursor;
  transition-duration: 1s, 0.1s;
  transition-delay: 5s;
  transition-timing-function: ease;
}

/* Animation Part */
.container {
  margin-top: 70px;
}

.button /* 이거 div박스임 */ {
  position: relative;
  background: #383b3d;
  height: 80px;
  width: 200px;
  text-align: center;
  transform: translateY(-50%);
  margin: 0 auto;
  cursor: pointer;
  border-radius: 4px;
}

.btn__calc {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  font: bold 1.25rem/1 poppins;
  color: #71dfbe;
  transform: translateY(-52%);
}

.progress-bar {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 10px;
  width: 0;
  border-radius: 200px;
  transform: translateY(-50%) translateX(-50%);
  background: #83888e;
  transition: opacity 0.1s 5s;
}

svg {
  position: absolute;
  top: 50%;
  left: 50%;
  right: 0;
  width: 30px;
  transform: translateY(-50%) translateX(-50%);
  transition: opacity 0.1s 5s;
}

img {
  position: absolute;
  width: 0px;
  height: 0px;
  left: -41px;
  top: -36px;
  transition-property: width, height, transform;
  transition-duration: 0s, 0s, 0.3s;
  transition-delay: 5s;
  transition-timing-function: ease-in;
}

.check {
  fill: none;
  stroke: #ffffff;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
}
