.welcome-header {
  margin: 50px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-header__title {
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 25px;
}

.welcome-header__text {
  width: 60%;
  opacity: 0.7;
  font-size: 30px;
}

.input:focus {
  outline: none;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}

.form input {
  border: none;
  padding: 15px 0px;
  font-size: 18px;
  margin-bottom: 15px;
}

.form input {
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  transition: border-color 0.3s ease-in-out;
}

.form input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.form input:focus {
  border-color: #efd8f7;
}

.btn__add {
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.btn {
  text-align: center;
}

.btn__calc {
  /* 버튼 디자인 어떻게 하지 */
}
